<div class='task' >
    <div class='task-row'>
        <h4>
        {{task.text}}
        </h4>
        <div>
            <app-button (click)="toggleUpdateForm()" className="task-btn" color="white" text="{{showForm ? 'close update form' : 'update'}}" ></app-button>
            <app-button (click)="onDelete(task)" className="task-btn" color="red" text="delete"></app-button>
        </div>
        
    </div>
    <h6>
        {{task.day}}
    </h6>
    <h6>
        Status : {{task.status ? "Complete" : "Pending"}}
    </h6>
    <app-update-task
        [taskId]='task.id'
        [showFormBoolean]="showForm"
        (onUpdateTask)="updateTask($event)"
    ></app-update-task>
</div>
