<app-add-task *ngIf="showAddTask" (onAddTask)="addTask($event)"></app-add-task>
<div *ngIf="showSearchTaskBar" class="form-control">
    <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
      [(ngModel)]="searchText" placeholder="Search through your tasks. . ." 
      autofocus>
  </div>
<app-task-item
*ngFor = "let task of tasks | appFilter: searchText | paginate : {itemsPerPage : 4, currentPage : p}"
[task] = 'task'
(onDeleteTask)="deleteTask($event)"
(onUpdateTask)="updateTask($event)"
>   
</app-task-item>
<pagination-controls class="page-control"  (pageChange)="p = $event" ></pagination-controls>
